body {
    margin: 0;
    font-family: monospace;
    background: #ffffff;
    height: 100vh;
    overflow-x: hidden;  
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
}
main::before{
    width: 450px;
    height: 300px;
    content: '';
    background-image: linear-gradient(
        45deg,  #fc2f2f,blue
    );
    position: absolute;
    z-index: -1;
    border-radius: 20% 30% 80% 10%;
    filter: blur(110px);
    top: 20%;
    left: 45%;
    transition: 0.7s;
    transform: translate(-110%, 100%) rotate(70deg)
}
.left-cadastro {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-cadastro>h1 {
    font-size: 3vw;
    color: #a452bd;
}

.cadastro-img {
    width: 35vw;
}

.right-cadastro {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.card-cadastro {
    width: 350px;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 1px 21px rgba(187, 171, 204, 0.8);
}

.card-cadastro>h1 {
    color: #a452bd;
    font-weight: 800;
    margin: 0;
}

.card-cadastro>h2{
    color: #a452bd;
    font-weight: 800;
    margin: 0;
}

.textfield {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}
.textfield #senha-aviso{
    margin-top: 20px;
}
.textfield>input {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background-color: #eae9ec;
    color: #000000de;
    font-size: 12pt;
    box-shadow: 0px 5px 12px #b1a9b3;
    outline: none;
    box-sizing: border-box;
}

#input-FeedBack{
    height: 100px;
    line-height: 1;         
    vertical-align: top;
}

#input-FeedBack::placeholder{
    color: black;
    line-height: 1;
    vertical-align: top;
}

.textfield>label {
    font-weight: bold;
    font-size: 14px;
    color: #000000de;
    margin-bottom: 10px;
}

.textfield>input::placeholder {
    color: #00000094;
}

#PFeedback{
    color: #77ffc0;
    padding: 10px;
}

.btn-envio{
    width: 100%;
    height: 40px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    color: #ffffff;
    background-color: #a452bd;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;

}

@media only screen and(max-width: 950px) {
    .card-cadastro {
        width: 85%;

    }

}

/*CSS do cabeçario (Header)*/
* {
    margin: 0;
    padding: 0;
}

a {
    color: black;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;

}

.logo {
    font-weight: bold;
    font-family: monospace;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: rgb(0, 0, 0);
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: monospace;
    background: rgb(248, 247, 247);
    height: 8vh;
    padding: 10px;
    border-bottom: 1px solid rgb(229, 228, 233);
    position: relative;
}
nav::after {
    content: "";
    position: absolute;
    bottom: -23px;
    left: 0;
    right: 0;
    height: 23px; 
    background: linear-gradient(to top, rgba(255, 0, 0, 0), rgba(233, 225, 241, 0.9)); 
}


.nav-list {
    display: flex;
    list-style: none;
    color: #FFF;
}

.nav-list li {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 3px;
    margin-left: 32px;
}

footer{
    margin: 100px 0 0 0;
    padding: 0;
    width: 100%;
    height: 150px;
    border-top: 1px solid #a599a4;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    background: #d3cfdd;

}

#card-titulos{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#card-text{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer > div {
    width: 50px;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;

}

footer > div > h1 {
   font-size: 20px;
}

footer > div > p {
    font-size: 16px;
 }
